/* 

### Layout
- Mobile: 375px
- Desktop: 1440px

### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

#BFDF32

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)


#2BB3B1

*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

html, body {
  height: 99%;
  background-color: hsl(204, 43%, 93%);
  
}

#fullscreen {
  height: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.wrapper {
  min-height: 50%;
  width: 50%;
  margin: 0 auto;
  border-radius: 25%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
      "header header "
      "left-side right-side"
}

#top {
  padding:  40px 60px;
  grid-area: header;
  background-color: white;
  border-radius: 2.5% 2.5% 0 0;
}

h1 {
  color: hsl(179, 62%, 43%);
  font-size: 2rem;
  font-weight: 700;
}

#secondHeading {
  color: hsl(71, 73%, 54%);
  font-size: 1.5rem;
  font-weight: 700;
}

#thirdHeading {
  color: hsl(218, 22%, 67%);
  font-size: 1.1rem;
  font-weight: 300;
}

#left{
  padding: 40px;
  grid-area: left-side;
  background-color: hsl(179, 62%, 43%); 
  border-radius: 0 0 0 2.5%;
}

#monthlySubHeading {
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
}

#monthlySub {
  color: #84E6E9;
  font-weight: 100;
}

#dollarSign {
  font-size: 2rem;
  padding-right: 5px;
  color: white;
}

#fullAccess {
  color: white;
}

button {
  width: 100%;
  padding:15px;
  background-color: hsl(71, 73%, 54%);
  border: none;
  border-radius: 7px;
  color: white;
  margin-top: 5%;
}

#right {
  padding: 20px;
  grid-area: right-side;
  background-color: #4ABEBD;
  border-radius: 0 0 2.5% 0;
  padding: 40px;
}

#whyUs {
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
}

ul {
  list-style: none;
  padding-left: 0px;
  color: white;
}

li {
  margin-top: 5px;
  font-weight: 400;
  font-size: 0.9rem;
}

.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%);}



/* MEDIA QUERIES */




/* - Mobile: 375px */